/* No editar directamente modules/_sprite.css ya que es generado automaticamente por Gulp, en vez de eso editar la plantilla para gulp-svg-sprite ubicada en /gulp/templates/sprite.css */
{{#shapes}}
{{#first}}
.icon {
    background-image: url('/assets/images/sprites/{{{sprite}}}');
}
{{/first}}

.icon--{{base}} {
    width: {{width.outer}}px;
    height: {{height.outer}}px;
    background-position: {{position.relative.xy}};
}

{{/shapes}}