.wrapper {
    overflow: hidden; /* Para controlar el desborde de las columnas internas */
    padding-left: 1.13rem;
    padding-right: 1.13rem;
    max-width: 77.26rem;
    margin-left: auto;
    margin-right: auto;
    
    &--medium {
        max-width: 61rem;
    }
    
    &--no-padding-until-medium {
        padding-left: 0;
        padding-right: 0;
        
        @mixin atMedium {
            padding-left: 1.13rem;
            padding-right: 1.13rem;
        }
        
    }
    
    &--no-padding-until-large {
        padding-left: 0;
        padding-right: 0;
        
        @mixin atLarge {
            padding-left: 1.13rem;
            padding-right: 1.13rem;
        }
        
    }
    
    &--b-margin {
        margin-bottom: 1rem;
        
        @mixin atSmall {
        margin-bottom: 3.875rem;
        }
    }
    
    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}